 <div class="footer">
        <div class="f1">
            <h2>Business Hours</h2>
            <p>Monday 8:00am - 8:30pm <br>
                Tuesday 8:00am - 8:30pm<br>
                Wednesday 8:00am - 8:30pm<br>
                Thursday 8:00am - 8:30pm<br>
                Friday 8:00am - 8:30pm<br>
                Saturday 9:00am - 7:30pm<br>
                Sunday CLOSED</p>
        </div>
        <div class="f2">
            <h2>Private Studio</h2>
            <p>Personal Trainer Basel GmbH <br>
                Ruchfeldstrasse 24 <br>
                4142 Münchenstein</p>
            <p>Testimonial / Blog</p>
            <p>Privacy Policy / Terms & Conditions</p>
        </div>
        <div class="f3">
            <div class="logo-container">
                <img src="./../../media/d8eec2b96b6c394563662fe8a4bb8e847b763028.png" alt="Logo 1">
                <img src="./../../media/0d0edf632eef82f8de91c93642bc0fd4e6a05f62.png" alt="Logo 2">
                <img src="./../../media/762b8a6818f582a72885a37c88e1225e2b0663a3.png" alt="Logo 3">
            </div>
            <h2>TELEPHONE NUMBER</h2>
            <p>+41795217192</p>
        </div>
        <div class="f4">
            <h2>Get in touch with us</h2>
            <h3>EMAIL</h3>
            <p>info@personaltrainerbasel.ch</p>
            <div class="contact-buttons">
                <button class="phone-button">Phone</button>
                <button class="whatsapp-button">Whatsapp</button>
            </div>
        </div>
        <div class="f5">
            <p>©2023 All Rights Reserved</p>
        </div>
    </div>